DEPHY_ENDPOINT_HTTP=https://relay-rb.dephy.dev/api/events
APP_SEND_LOOP_DURATION=3

# 32 bytes hex string, NEVER use in production!
DEBUG_FORCE_PRIVKEY=fe69b72cb82f8528e1b004031e868f1d453a33c78a9fd1d8acc44aae4c111c9a

WIFI_SSID=Wokwi-GUEST
WIFI_PASSWD=
